@font-face {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/andika.woff2") format('woff2');
}

body {
    font-family: 'Andika', sans-serif !important;
    background-color: #000;
    color: #cdcdcd;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    margin: auto;
    margin-bottom: 5em;
    width: 90%;
    max-width: 900px;
}

img {
    width: 100%;
}

a {
    color: #18b2cc;
}

a:hover {
    color: #ffffff;
}

h1 {
    font-size: 1.6em;
}

code,
pre,
kbd {
    line-height: 154%;
    overflow: auto;
    max-width: 100%;
    padding: 0.2em;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px !important;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 8px;
}

th, td {
    border: 1px solid #18b2cc;
    padding: 8px;
}

th {
    color: white;
}

.ava-text {
    text-align: center;
    line-height: 0.5rem;
    max-width: 900px;
}

.ava {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    overflow: hidden;
}

.ava img {
    width: 100%;
    height: auto;
    display: block;
}

.avatar {
    padding-bottom: 10px;
    padding-top: 10px;
}

.header {
    padding-top: 20px;
}

.menu-item a:hover {
    text-decoration: underline #18b2cc 3px;
}

.header h1 {
    font-size: 2.2em;
    text-align: center;
}

.header h1 a:hover{
    text-decoration: none;
}

.header a {
    color: #cdcdcd;
    text-decoration: none;
    text-align: center;
    padding-inline: 15px;
}

.header-link {
    text-align: center;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

.time {
    text-align: center;
}

.biglink {
    font-size: large;
    color: white;
}

.biglink:hover {
    color: #18b2cc;
}

.head-blog {
    text-align: center !important;
    padding-top: 30px;
}

.blog {
    padding-bottom: 150px !important;
}

.footer {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
}

.footer p {
    line-height: 10px;
}

.footer-btn img {
    width: 80px;
}

#random-quote {
    padding-left: 30%;
    font-style: italic;
}

#reply-to {
    font-style: italic;
    margin-top: 100px;
    margin-left: 60%;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .heading a {
        padding-inline: 8px;
    }

    .header-link {
        font-size: 15px;
    }

    th, td {
        padding: 2px;
    }

    code, pre, kbd {
        font-size: 14px;
    }

    .footer {
        font-size: 12px
    }

    .header h1 {
        font-size: 2em;
    }

    .footer a {
        padding-inline: 12px;
    }

    .footer-btn img {
        width: 60px;
}
}
