<hr>
<footer class="footer">

	<div class="footer-btn">
        <nav>
        <a href="https://wiby.me">
            <img style="display: inline-block;" src="/buttons/wiby-button.gif" alt="[Search the old web with wiby.me]"></a>
    
        <a href="https://landchat.net">
            <img style="display:inline-block;" src="/buttons/landchad.gif" alt="[Setup website and server]"></a>
    
        <a href="https://freebsd.org">
            <img style="display: inline-block;" src="/buttons/freebsd.gif" alt="[free bsd]"/></a>
    
    
        <a href="https://larbs.xyz">
            <img style="display: inline-block;" src="/buttons/larbs.gif" alt="[larbs]"/></a>
    
    
        </nav>
        <br>

    <p><a href="/uncopyright">Uncopyrighted</a> by Sisyphus. Last built {{ now.Format "January" }} {{ now.Format "2" | humanize }}, {{ now.Format "2006" }}.</p>
</footer>
